#header, #header1 {
  background-image: radial-gradient(circle, #093da3, #0c376b, #0d2c57, #132b4d, #14243b);
	width: 100%;
  height: 740px;
	margin-bottom: 2px;
  margin-top: 2px;
}
#header2{
  background-image: radial-gradient(circle, #093da3, #0c376b, #0d2c57, #132b4d, #14243b);
	width: 100%;
  height: 780px;
	margin-bottom: 2px;
  margin-top: 2px;
}

#header3{
  background-image: radial-gradient(circle, #093da3, #0c376b, #0d2c57, #132b4d, #14243b);
	width: 100%;
  height: 580px;
  margin-top: 2px;
}

#column{
  margin-top: 80px;
  margin-bottom: 100px;
  font-family: cursive;
}
.col{
  color: white;
  font-weight: bold;
 
}
.flip-card {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #5492b9;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #5492b9;
  color: white;
  transform: rotateY(180deg);
}
h3 {
  color: white;
}
.head3 {
  color: white;
  text-align: center;
}

h1{
  font-family: "Lucida Console";
  color: white;
  text-align: center;
}


.cd-intro-content #img1{
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.cd-intro-content #img2{
  opacity: 0;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}
.cd-intro-content #img3{
  opacity: 0;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
.cd-intro-content #img4{
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
.cd-intro-content #img5{
  opacity: 0;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}
.cd-intro-content #img6{
  opacity: 0;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

.bouncy.cd-intro-content img {
  animation-name: cd-bounce-right;
}
.bouncy.cd-intro-content img
 {
  animation-duration: 0.6s;
}
.bouncy.cd-intro-content {
  animation-delay: 0.4s;
}

@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
#nc {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.colm{
  margin: auto;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display:block;
  margin-right: auto;
  margin-left: auto;
  width: 250px;
  font-weight: bold;
}

input[type=email], textarea{
  width: 40%; 
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  box-sizing: border-box; 
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
  margin-right: 50px;
  margin-left: 50px;
   
  
}
input[type=text]{
  width: 40%; 
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; 
  border-radius: 20px; 
  box-sizing: border-box; 
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; 
  margin-right: auto;
  margin-left: 74px;
}
textarea{
  width: 90%; 
  padding: 20px; 
  border: 1px solid #ccc; 
  border-radius: 16px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit]:hover {
  background-color: #45a049;

}


#containercontacts {
  border-radius: 5px;
  background-color: #39647E;
  padding: 20px;
}

  .footer p {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: radial-gradient(circle, #001f5f, #082850, #0f2441, #0d1c31, #080a0d);
    
}